<footer class="bg-body-tertiary text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #000">
    © 2024 Copyright:
    <a href="/">devEducation</a>
  </div>
  <!-- Copyright -->
</footer>