<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark"">
  <div class="container-fluid ms-4 me-5">
    <a class="navbar-brand" href="/">SE COURSES</a>
    <div class="collapse navbar-collapse me-5" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sally Vu
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/me/stored/courses">My courses</a></li>
             <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/course/create">Create a new course</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>